{
    "cc13x0": {
        "serno": "{{ env.cc13x0.serno }}",
        "devicetype": "CC1310F128",
        "session": "Texas Instruments XDS110 USB Debug Probe/Cortex_M3_0",
        "connection": "Texas Instruments XDS110 USB Debug Probe",
        "symbol": "&Sensor_msgStats",
        "opcode": "Erase",
        "option": "ResetOnRestart",
        "expression": "MassErase()",
        "address": "0x20000000",
        "ccxml-path": "{{ env.paths.resources }}/cc13x0/cc13x0.ccxml",
        "binary-image": "{{ env.paths.resources }}/cc13x0/sensor_cc13x0lp.bin",
        "hex-image": "{{ env.paths.resources }}/cc13x0/sensor_cc13x0lp.hex",
        "symbol-image": "{{ env.paths.resources }}/cc13x0/sensor_cc13x0lp.out"
    }
}
